<div class="project__section">
    <div class="project__section-box">
        <h2>Algunos de mis proyectos</h2>
        <div class="section__box">
            <a href="#" target="_blank"><img src="assets/img/project-one.png" alt="project-one"></a>
        </div>
        <div class="section__box">
            <a href="#" target="_blank"><img src="assets/img/project-two.png" alt="project-two"></a>
        </div>
        <div class="section__box">
            <a href="#" target="_blank"> <img src="assets/img/project-three.png" alt="project-three"></a>
        </div>
    </div>
</div>