.project__section{
    background-color: #171718;
}

.project__section-box{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.project__section-box h2{
    font-size: 34px;
    color: #f7b432;
    margin-bottom: 59px;
    font-family: "Lato", sans-serif;
}

.section__box img{
    margin-bottom: 59px;
}