<div class="footer">
    <div class="footer__box-one">
        <div class="box__one">
            <div>
                <img src="assets/img/logo.svg" alt="icon-logo">
            </div>
            <ul>
                <h3>Inicio</h3>
                <li><a href="">Acerca de mi</a></li>
                <li><a href="">Proyectos</a></li>
            </ul>
            <ul>
                <h3>Contactame</h3>
                <li><a href="mailto:laramoises73@gmail.com">Correo</a></li>
                <li><a href="https://www.linkedin.com/in/laradev/" target="blank_">LinkedIn</a></li>
                <li><a href="tel:36914370">36914370</a></li>
            </ul>
            <ul>
                <h3>Social</h3>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__box-two">
        <p>© 2021 LaraDev</p>
    </div>
</div>
