.footer{
    background-color: #131414;
}

.footer__box-one{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.box__one{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.box__one ul{
    margin-right: 100px;
}

.box__one ul h3{
    font-size: 16px;
    color: #f9b53a;
    font-family: "Lato", sans-serif;
}

.box__one ul li{
    list-style: none;
}

.box__one ul li a{
    font-size: 16px;
    color: #dfe0e3;
    line-height: 40px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    
}

.footer__box-two{
    width: 90%;
    margin: 0 auto;
}

.footer__box-two p{
    color: #f0f0f0;
    padding: 20px 0;
    font-size: 12px;
    font-weight: 400;
    border-top: 0.5px solid #1e2124;
    font-family: "Lato", sans-serif; 
}