<section class="section">
   <div class="main-section">
        <div class="container-about">
            <div>
                <h2 class="about__title">Soy <span>Moises Lara</span><br> Frontend Developer | Cloud Developer</h2>
            </div>
            <div>
                <p class="about__parra">Este es mi portafolio y CV hecho con las ultimas tecnologias <br> en frontend, aca puedes ver mi estilo de desarrollo a la <br> hora de pogramar interfaces. <br> Espero te guste.</p>
            </div>
            <div class="about__buttons">
                <app-button-one>Ver proyectos</app-button-one>
            </div>
        </div>
   </div>
</section>