<div class="container">
    <div class="container-skills">
        <div class="container__box">
            <h2>Mis habilidades</h2>
            <div class="skills__box">
                <div class="boxes">
                    <app-card-skills>
                        <div head>
                            <img src="assets/img/device-mobile.svg" alt="">
                        </div>
                        <div body>
                            <h3>Responsive desing</h3>
                            <p>Con mi experiencia en patrones de diseño responsive tengo una visión clara acerca de como implementarlos de manera efectiva en cualquier proyecto.</p>
                        </div>
                    </app-card-skills>
                </div>
                <div class="boxes">
                    <app-card-skills>
                        <div head>
                            <img class="image" src="assets/img/icon-system.svg" alt="">
                        </div>
                        <div body>
                            <h3>Sistema de diseño</h3>
                            <p>Tengo manejo de sistemas de diseño, lo cual permite agilidad en el proceso de diseño acortando los tiempos en la creación de las interfaces dentro del proyecto.</p>
                        </div>
                    </app-card-skills>
                </div>
                <div class="boxes">
                    <app-card-skills>
                        <div head>
                            <img src="assets/img/device-mobile.svg" alt="">
                        </div>
                        <div body>
                            <h3>Cooworking</h3>
                            <p>Trato de ser un activo valioso en el equipo que esté trabajando, aportando mis conocimientos y material que optimice el flujo de trabajo en el desarrollo del proyecto.</p>
                        </div>
                    </app-card-skills>
                </div>
            </div>
        </div>
    </div>
</div>
